// >> Config project --- >

// Base Project Setting
$contentWidth:     1360px;
$base-fontFamily:  "'Montserrat', sans-serif";
$base-fontSize:    rem(16px);
$base-fontColor:   #000;
$base-lineHeight:  1.42857143;
$base-borderColor: #dddddd;
$base-radius:      3px;
$base-linkColor:   #ff464a;
$color-error:      #ea6153;

// Brand color-samples
$clouds--dark:     #ecf0f1;
$aqua--dark:       #3498db;
$blue-jeans--dark: #2980b9;
$grass:            #40d47e;
$grass--dark:      #2ecc71;
$nephritis:        #2cc36b;
$nephritis--dark:  #27ae60;
$sunflower:        #f2ca27;
$sunflower--dark:  #f1c40f;
$carott:           #e98b39;
$carott--dark:     #e67e22;
$rapeFruit:        #ea6153;
$rapeFruit--dark:  #e74c3c;
$lavender:         #a66bbe;
$lavender--dark:   #9b59b6;



// Breakpoints
$mobil-m:          520px;
$ipad-port:        756px;
$ipad-land:        1024px;
$notebook-s:       1200px;
$notebook-m:       1360px;
$pc:               1900px;

$max--mobil-m:     519px;
$max--ipad-port:   756px;
$max--ipad-land:   1023px;
$max--notebook-s:  1199px;
$max--notebook-m:  1359px;
$max--pc:          1899px;
