// >> Mixins --- >

// BEM Mixins
@mixin e($element) {
    &__#{$element} {
        @content;
    }
}

@mixin m($modifire) {
    &--#{$modifire} {
        @content;
    }
}

// Media Queries
@mixin mq($break){
    @media only screen and (min-width: $break) {
        @content;
    }
}

@mixin mq-max($break){
    @media only screen and (max-width: $break) {
        @content;
    }
}

// ClearFix
@mixin clearFix{
    &:after{
        display: block;
        width: 0;
        height: 0;
        clear: both;
        font-size: 0;
        line-height: 0;
        visibility: hidden;
        content:' ';
    }
}

// Apparens None - browser fix
@mixin appearencNone{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

// Reset Mixins
@mixin base-button{
    @include appearencNone;
    border: none;
    outline: none;
    cursor: pointer;
}

// Select Disable
@mixin selectDisable{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

// Display Mixins
@mixin flex($justify: flex-start, $align: stretch){
    display: -ms-flexbox;
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin grid($justify: start, $align: start){
    display: -ms-grid;
    display: grid;
    justify-content: $justify;
    align-items: $align;
}

// Flex width
@mixin flexWidth($width: 100%, $maxWidth: $width){
    width: $width;
    max-width: $maxWidth;
    flex-basis: $width;
}

// Hidden Text
@mixin hiddenText{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

// Transitions
@mixin transition($property: all,$timing: linear,$delay:1s) {
  -webkit-transition: $property $timing $delay;
  -moz-transition: $property $timing $delay;
  -ms-transition: $property $timing $delay;
  -o-transition: $property $timing $delay;
  transition: $property $timing $delay;
}

// Transform
@mixin transform($transform-type,$transform-amount){
    -webkit-transform: $transform-type+unquote('(#{$transform-amount})');
    -moz-transform: $transform-type+unquote('(#{$transform-amount})');
    -ms-transform: $transform-type+unquote('(#{$transform-amount})');
    -o-transform: $transform-type+unquote('(#{$transform-amount})');
    transform: $transform-type+unquote('(#{$transform-amount})');
}