// >> Password Generator --- >

// Extended Password Strength
%passwordStrength {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 4px;
    background-color: transparent;
    border-bottom-right-radius: $base-radius;
    border-bottom-left-radius: $base-radius;
}
.formItem--password {
    width: 100%;
    margin: 0;
    padding: 0;
    // > Form Title - Label
    .formItem__title {
        display: block;
        font-weight: 600;
    }
    // > Form Note
    .formItem__note {
        color: b(.75);
        font-size: rem(12px);
    }
    // > Password Strength Colors
    .passwordStrength {
        @extend %passwordStrength;
        @include transition(all, linear, .25s);
        &.str_1 {
            width: 20%;
            background-color: $rapeFruit;
        }
        &.str_2 {
            width: 40%;
            background-color: $carott;
        }
        &.str_3 {
            width: 60%;
            background-color: $sunflower;
        }
        &.str_4 {
            width: 80%;
            background-color: $grass;
        }
        &.str_5 {
            width: 100%;
            background-color: $nephritis--dark;
        }
    }
    // > Input style
    .inputWrapper {
        @include flex();
        margin: 8px 0 12px;
        padding: 0;
        border: 1px solid $base-borderColor;
        border-radius: $base-radius;
        background: white;
        .showPassword {
            @include flexWidth(36px);
            height: 36px;
            cursor: pointer;
            &.hidden {
                &:before {
                    background: url("../assets/visibility_off-24px.svg") no-repeat center center / 20px;
                    opacity: .75;
                }
            }
            &:before {
                @include transition(background, ease-in-out, .15s);
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: url("../assets/visibility-24px.svg") no-repeat center center / 20px;
                content: '';
            }
        }
        input {
            @include flexWidth(calc(100% - 72px));
            @include appearencNone;
            padding: 0 8px;
            outline: none;
            border: none;
            color: b();
            font-size: rem(16px);
            &::placeholder {
                color: b(0.75);
                font-family: #{$base-fontFamily};
            }
        }
        .copyPassword {
            @include flexWidth(36px);
            height: 36px;
            background: b(.05);
            cursor: pointer;
            &:before {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: url("../assets/copy-24px.svg") no-repeat center center / 18px;
                content: '';
                opacity: .75;
            }
        }
    }
    .formItem__alert {
        color: $color-error;
        font-size: rem(14px);
    }
    .formItem__bottom {
        @include flex(space-between, center);
        margin: 20px 0 0;
        .passwordCounter {
            display: block;
            width: 36px;
            height: 30px;
            border: 1px solid $base-borderColor;
            border-radius: $base-radius;
            background: b(.05);
            font-size: rem(12px);
            text-align: center;
            line-height: 30px;
            span {
                display: block;
                position: absolute;
                top: calc(50% - 12px);
                right: -20px;
                width: 24px;
                height: 24px;
                background: url("../assets/more-24px.svg") no-repeat center center / 24px;
                content: '';
            }
        }
        .btnWrapper {
            @include flex(flex-end);
            .btn--delPassword {
                @include appearencNone;
                width: 36px;
                height: 36px;
                margin: 0 8px 0 0;
                padding: 0;
                background: b(.05);
                border: 1px solid $base-borderColor;
                border-radius: $base-radius;
                line-height: 36px;
                cursor: pointer;
                content: '';
                &:before {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background: url("../assets/clear-24px.svg") no-repeat center center / 18px;
                    content: '';
                    opacity: .75;
                }
            }
            .btn--generatePassword {
                @include appearencNone;
                margin: 0;
                padding: 0 20px;
                background: $blue-jeans--dark;
                border-radius: $base-radius;
                color: white;
                line-height: 36px;
                cursor: pointer;
            }
        }
    }
}
.formItem--submit {
    @include flex(center);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -56px;
    .btn--submit {
        @include appearencNone;
        margin: 0 auto;
        padding: 0 20px;
        border: none;
        border-radius: $base-radius;
        background: $lavender--dark;
        color: white;
        font-family: #{$base-fontFamily};
        font-size: rem(16px);
        line-height: 36px;
        outline: none;
        cursor: pointer;
    }
}
