// >> Header Style --- >
header{
    border-bottom: 1px solid $base-borderColor;
}
.headerWrapper{
    @include flex(space-between, center);
    @include flexWidth(90%, $contentWidth);
    margin: 0 auto;
    padding: 16px 0;
}
.header__logo{
    width: 250px;
}
.header__seoWrapper{
    @include hiddenText;
}
.headerAlign{
    @include flex(flex-end, center);
}